@{
    ViewData["Title"] = "Home Page";
}
<div class="">

</div>
<div class="text-center ">
    <h1 class="display-4">Welcome!!</h1>
    <h1 class="display-4">Book Exchange Platform</h1>
    <p>
        An Online solution for book lovers who wish to exchange, lend, or borrow books on a larger scale. Traditional book exchanges, being limited to local swaps or personal lending, restrict users’ ability to explore a diverse range of books. This platform aims to create a community-driven, centralized exchange service with easy accessibility and robust functionality. By connecting book enthusiasts, the platform encourages sharing reading material, thereby promoting literacy and fostering a reading culture.
    </p>
</div>
